<html>

<title><%= title %></title>

<style type="text/css" media="screen">

body {

font-family: "Gill Sans", Helvetica, Arial;

}

</style>

<body>

<a href="/">Home</a> - <a href="/sermons">Sermons</a>

<%- body %>

</body>

</html>