<html>

<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />

<div id='wrapper'>
<div id='header'>
	
</div>
<div class='grad'>
<body>
<div id = 'nav'>
<a href="/">Home</a> - <a href="/series">Sermons by Series</a> - <a href="/authors">Sermons by Author</a> - <a href="/commandments">Commandments</a>
</div>

<%- body %>


</body>
</div>
</div>
<div id="footer">
<p>This Node.js application created by: <a href="http://www.sarahpitts.com/">Sarah Pitts</a></p>
</div>
</html>