<html>

<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />

<div id='wrapper'>
<div id='header'>
	<h1>The Mustard Seed</h1>
</div>
<div class='grad'>
<body>
<div id = 'nav'>
<a href="/">Home</a> - <a href="/sermons">Sermons</a> - <a href="/commandments">Commandments</a>
</div>

<%- body %>


</body>
</div>
</div>
<div id='footer'>
This Node.js application created by: <a href="http://www.sarahpitts.com/">Sarah Pitts</a>
</div>
</html>