<% layout('boilerplate') -%>
<% script('app.js') -%>

<h1>Commandments</h1>

<p>The penalty for breaking even one Commandment is death!</p>
 
<p>The question we should be asking is, "What then must we do to secure our eternal salvation?"  Everything else fades in the light of such a profound question.  The way to find this out is to ask ourselves if we have obeyed the Ten Commandments.  Most would answer the question, "Well, I've broken one or two, but nothing too serious, like murder, etc," but let's go through them one by one and see how you do.</p>

<p>"You shall have no other gods before Me."  Is God first in your life?  Do you love God above all else? Do you love anything else more in your life than God?  Do you love your wife, your husband, your TV soap operas, or even your children more than God?  If you answered yes to any of these, you are loving the gift more than the Giver, and you are guilty of breaking the First Commandment.  Will you be found innocent or guilty on the Day of Judgment of breaking this Commandment?  The sentence of transgression of the First Commandment is death!</p>

<p>The Second Commandment is, "You shall not make for yourself any graven image."  This means we should not make any god to suit ourselves either with our hands or our minds.  Did you perhaps make a "god" for yourself that didn't mind if you told a "white" lie or a fib here or there?  Is this god the same holy God that has been revealed to us in Holy Scripture?  If you have done this you cannot enter God's Kingdom..</p>

<p>The Third Commandment is. "You shall not take the name of the Lord your God in vain."  Have you ever done this?  Have you included it beside a 4-letter word?  If you have done this even once you are guilty of breaking the Third Commandment and you cannot enter God's Kingdom..  The sentence of transgression of the Third Commandment is death!</p>

<p>The Fourth Commandment: "Remember the Sabbath Day, to keep it holy."  Did you remember to set aside one day and to rest on that day? The sentence of transgression of the Fourth Commandment is death!</p>

<p>The Fifth Commandment is; "Honor your father and your mother."  Have you at all times honored your father and your mother?  Did you do anything in your youth that you are not proud of?  You may have forgotten these, but God hasn't! Those who dishonor their father and mother cannot enter the Kingdom of God.</p>

<p>The Sixth Commandment; "You shall not murder."  Jesus told us that if we get angry without cause we are in danger of judgment.  If we hate our brother or anyone, God calls us a murderer.  Your attitude or intent can violate this Law.  The sentence of transgression of the Sixth Commandment is death!</p>

<p>The Seventh Commandment; "You shall not commit adultery."  Who of us can say that we are pure of heart?  Jesus warned, "Ye have heard that it was said by them of old time, Thou shalt not commit adultery: But I say unto you, That whosoever looketh on a woman to lust after her hath committed adultery with her already in his heart. Matthew 5:27-28 The sentence of transgression of the Seventh Commandment is death!</p>

<p>The Eighth Commandment; "You shall not steal."  Have you ever even once taken something that belonged to someone else?  If so, you ARE a thief.  And you cannot enter God's Kingdom. The sentence of transgression of the Eighth Commandment is death!</p>

<p>The Ninth Commandment; "You shall not bear false witness."  Have you ever just one time told a lie?  If so.  You are a liar!  Liars cannot enter God's Kingdom. The sentence of transgression of the Ninth Commandment is death!</p>

<p>The Tenth Commandment is "You shall not covet".  Have you ever even once in your life desired anything at all that belonged to another person?  Those who covet cannot enter the Kingdom of God.  The sentence of transgression of the Eighth Commandment is death!</p>

<p>Can you see how hopeless your case before an all-good God is up to this point?  Perhaps you think that God is good so that he will overlook your crimes against His own Law?  God is also Just.  So in order to be truly good, God has to punish liars, thieves and murderers, etc. If He does this He also has to punish anyone who broke the Law even one time. The punishment for breaking even one of God's laws is death.  By death I mean eternal damnation in Hell.  Never to be able to even glimpse at an all-holy God.  He told you this via Jesus, the prophets, Scripture, and the Apostles.  Isn't it true that when you broke one of God's Laws, you did it with free will?  You had the choice to do it or not.  Shouldn't God be angry at your sin against Him? It all seems pretty hopeless doesn't it?  You can't win! And you deserve what is coming to you!</p>

<p>Well.  Not exactly! God loves you so much He made a way out for you and your predicament.</p>

<p>The penalty has to be paid.  But God Himself already paid the price in full for you.  He fulfilled the requirements of Eternal Law in your case.  But you still need to accept this payment, or it gets recalled/rescinded.</p>

<p>It was no small price for God to pay.  The only way a just God could pay for it was to pay it Himself .  His only sinless Son (the 2nd Person in the Trinity) paid this price for us.  Jesus, God Himself, willingly died in our places, and took our sins upon Himself.</p>

<p>It was no small thing for Jesus to die for us.  The only thing that would satisfy the demands of Eternal Law was the suffering and death of the sinless Son of God.  What love God must have for us!  He suffered an agonizing death, so that you wouldn't have to be punished for your sins.  His sacrificial death and resurrection means that you need no longer be in debt to the Law; and God can now grant you everlasting life if you obey Him.  Death no longer has a legal hold on those who belong to Jesus Christ.  </p>

<p>Ray Comfort</p>

 

<a href="/">Return to Homepage</a>