<% layout('boilerplate') -%>
<% script('app.js') -%>
<% stylesheet('public/stylesheets/style.css') -%>

<h1>The Mustard Seed</h1>
<p>The Mustard Seed is a small, humble project that serves as a starting point in providing answers to questions pertaining to the Christian faith.  It is made available to those who are searching for themselves as well as those who are searching for others who have asked these questions of them.</p>
<p>The project is a collective effort from many preachers.  It rises above denomination.  We stand together united in order to reach a far greater audience than any one of us could alone.  The importance of the mission outweighs our differences.</p>
<p>This is meant to be a safe environment to provide you with what you seek.</p>

</br>
</br>

<p>Matthew 17:20</p>
<p>Truly I tell you, if you have faith as small as a mustard seed, you can say to this mountain, 'Move from here to there,' and it will move. Nothing will be impossible for you.</p>

<p><a href="/sermons">Sermon List</a></p>