<% layout('boilerplate') -%>
<% script('app.js') -%>
<% stylesheet('public/stylesheets/style.css') -%>

<h1>The Mustard Seed</h1>
<p><em>for Christians who serve asynchronously</em></p>
<p><a href="/sermons">Sermon List</a></p>