<% layout('boilerplate') -%>
<% script('app.js') -%>
<% stylesheet('public/stylesheets/style.css') -%>


<h1>Sermons by Series</h1>

<ul>

<a href="/sermons">Debunking</a>

</ul>

<a href="/">Return to homepage</a>