<% layout('boilerplate') -%>
<% script('app.js') -%>
<% stylesheet('public/stylesheets/style.css') -%>

<h1>Debunking Common Reasons Given For Not Attending Church</h1>

<ul>

<% sermons.forEach(function(sermon){ %>

<li><a href="/sermons/<%= sermon.url %>"><%= sermon.name %> - <%= sermon.author %></a></li>

<% }) %>

</ul>

<a href="/">Return to homepage</a>