/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)*/

 $eggshell: #FFF9BF;
 $charcoal: #222222;

 $sky: #A1CCBB;

 $margin: 5%;
 $marginH: 2%;

@import "compass/reset";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/typography/links/link-colors";
@import "compass/css3/opacity";

#header {
		background: image-url("seedHeader.png"); 
		width:800px;
		height:300px;
		text-align: center;
		h1 {
		color: $eggshell;
		font-size: 70px;
		  @include single-text-shadow(2px, 2px);
		}
		h2 {
		color: $charcoal;
		margin: 10px 0 30px $marginH + 4%;
		display:inline-block;
		font-weight: bold;
		}
	}

#footer {
	background: $eggshell;
	@include opacity(0.45);
	text-align: center;
	font-size: 12px;
	@include single-box-shadow;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	p {
	color: $charcoal;
	font-weight: bold;
	padding: -25px;
	}
	a {
	color: $charcoal;
	font-weight: bold;
	text-decoration: underline;
	}
}

html {
	body {
	background: image-url("canvas.jpg"); 
	background-attachment:fixed;
	background-color: $sky;
	height: 100%;
	}
}

#wrapper{  
   width:800px;  
   margin:0 auto;
   text-align:left; 
   positiion: relative;
   min-height: 100%;
   margin-bottom: 95px;
}  

.grad {
	margin: 3%;
	padding: 1%;
	background-color: $eggshell;
	@include border-radius(10px, 10px);
  	@include single-box-shadow;
  	@include opacity(0.45);
  	p {
  	line-height: 1.5em;
  	color:  $charcoal;
	margin: 10px 0 10px 10px;
  	}
  	a {
  	color: $charcoal;
	margin: $marginH;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
  	}
  	h1 {
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	margin: 10px 0 10px 10px;
	}
	h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 10px 10px;
	}
	#nav {
	margin-top: 10px;
	margin-bottom: 20px;
		a {
		color: $charcoal;
		margin: $marginH;
		text-decoration: none;
		font-weight: bold;
		display: inline-block;
			&:hover {
			text-decoration: underline;}
			&:active {
			text-decoration: underline;}
		}
	}
}

